[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       *models.py,
       ./manage.py,
       ./linkin/config/*,
       ./linkin/wsgi.py,
       *__init__*

[report]
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       *models.py,
       ./manage.py,
       ./linkin/config/*,
       ./linkin/wsgi.py,
       *__init__*